{% load static %}
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Paranoid /media/pv_plants/800px-Hunting_tiger_edit1.jpg</title>
    <link rel="stylesheet" href="/static/css/base.css" type="text/css" />
</head>
{% load bootstrap4 %}
<body>

<div id="container">
    <div id="sidebar">
        <form method="post" action="{% url 'forecast_graph' %}">
        <img src={{ graph|safe }} height="400" width="" style="float:right" hspace="" border="1.8"style="vertical-align:bottom">
    </div>
</div>

</body>
</html>