{% extends "common/base/base.html" %}
{% block site_content %}
    {% load static %}
    <head>
        <link rel="stylesheet" href="{% static "css/base.css" %}">
    </head>
    {% load bootstrap4 %}
    <body>
    {% load bootstrap4 %}
    <h1 class="text-center"> Forecast </h1>

    <div class="card m-3" style="width: 30rem;">
        <form method="post" action="{% url 'forecast_graph' %}" class="col-lg-6 offset-lg-3" enctype="multipart/form-data">

            {% csrf_token %}
            <div class="row">

             {{ form.number_of_days }}
            <input type="submit" value="Predict" class="btn btn-primary mt-3">

            </div>
        </form>
        <form method="post" action="{% url 'forecast_graph' %}">
            {% csrf_token %}
            {{ prediction_form }}
            {{ graph|safe }}

        </form>
    </div>
    </div>
    </body>
{% endblock %}