{% extends "common/base/base.html" %}
{%block site_heading %} Registered PV Plants {% endblock %}
{% block site_content %}
    {% load static %}
    <head>
        <link rel="stylesheet" href="{% static "css/base.css" %}">
    </head>
    <body>

    <form method="get" action="{% url 'index' %}">
            {{ filter_form }}
            {% csrf_token %}
            <button class="btn btn-primary">Filter</button>
    </form>
    <div class="d-flex p-3">
        {% for pv_plant in pv_plants %}
            {% include "partials/pv_details.html" with pv_plant=pv_plant %}
        {% endfor %}

    </div>
    </body>
{% endblock %}
