<div class="card m-3" style="width: 18rem;">
    <img class="card-img-top" src="{{ pv_plant.image.url }}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ pv_plant.name }}</h5>
        <h5 class="card-title">{{ pv_plant.power }}</h5>
        <p class="card-text">{{ pv_plant.description }}</p>
        {% if user.is_authenticated %}
            <a href="{% url 'pv_plant_details' pv_plant.id %}"><button class="btn btn-primary">See more</button></a>
        {% endif %}
        {% if user.id == pv_plant.owner_id or user.id == 1%}
            <a href="{% url 'edit' pv_plant.id %}"><button class="btn btn-primary">Edit</button></a>
        {% endif %}
        {% if user.id == pv_plant.owner_id or user.id == 1%}
            <a href="{% url 'delete' pv_plant.id %}"><button class="btn btn-danger">Delete</button></a>
        {% endif %}
    </div>
</div>

